.product-card {
  height: 320px;
  // box-sizing: border-box;
  // margin: 5px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px #ccc;

  .app-img-container {
    height: 200px;
    overflow: hidden;
  }

  p, h2 {
    margin: 0;
  }
}

