<div class="show-mobile">
  <!-- navigation bar -->
  <div>
    <!-- Menu button -->
    <button (click)="toggleMenu()">
      <img src="../../../assets/svg/icon_menu.svg" alt="menu">
    </button>
    <!-- Logo site -->
    <a href="">
      <img src="../../../assets/svg/logo_yard_sale.svg" alt="logo">
    </a>
    <!-- shopping car -->
    <a href="">
      <img src="../../../assets/svg/icon_shopping_cart.svg" alt="logo">
    </a>
  </div>

  <!-- side menu -->
  <div class="side-menu" [class.active]="activeMenu" > <!-- add active class if activeMenu==true-->
    <button (click)="toggleMenu()">Close</button>
    <!-- Menu items options -->
    <ul>
      <li><a href="">All</a></li>
      <li><a href="">Clothes</a></li>
      <li><a href="">Electronics</a></li>
    </ul>
  </div>
</div>

<div class="hide-mobile">
  <div>
    <!-- Navigation bar -->
    <nav>
      <!-- Logo site -->
      <a class="logo" href="">
        <img src="../../../assets/svg/logo_yard_sale.svg" alt="logo">
      </a>
      <!-- Menu items options -->
      <ul>
        <li><a href="">All</a></li>
        <li><a href="">Clothes</a></li>
        <li><a href="">Electronics</a></li>
      </ul>
    </nav>

    <!-- user info | shopping car-->
    <div class="info">
      <div class="account">sadnr0213@gmail.com</div>
      <div>
        <a href="">
          <img src="../../../assets/svg/icon_shopping_cart.svg" alt="logo">
        </a>
      </div>
    </div>
  </div>
</div>
